#hero{
    .hero-content{
        display: flex;
        justify-content: space-between;
        padding: 60px;
        border-radius: 30px;
        background-color: #F2F2F2;
        .content-left{
            max-width: 550px;
            width: 100%;
            h1{
                font-size: 38px;
                line-height: 55px;
                margin-bottom: 20px;
                color: #454545;
            }
            span{
                font-size: 38px;
                font-weight: 700;
                color: #fff;
                background-color: #454545;
                padding: 5px 25px;
                border-radius: 50px;
                margin-bottom: 20px;
            }
        }
        .content-right{
            img{
                max-width: 500px;
                width: 100%;
                height: 250px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

#category{
    .category-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h1{
            font-size: 34px;
            color: #454545;
        }
        a{
            display: flex;
            align-items: center;
            color: #454545;
            border: 2px solid #454545;
            gap: 10px;
            padding: 12px 15px;
            border-radius:50px;
            transition: 0.5s;
            &:hover{
                color:#fff;
                background-color:#454545;
                svg{
                    path{
                        stroke: #fff !important;
                    }
                }
            }
        }
    }
    .category-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }
}

#latest-products{
    .product-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h1{
            font-size: 34px;
            color: #454545;
        }
        a{
            display: flex;
            align-items: center;
            color: #454545;
            border: 2px solid #454545;
            gap: 10px;
            padding: 12px 15px;
            border-radius:50px;
            transition: 0.5s;
            &:hover{
                color:#fff;
                background-color:#454545;
                svg{
                    path{
                        stroke: #fff !important;
                    }
                }
            }
        }
    }
    .product-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}

#about{

    .about-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h1{
            font-size: 34px;
            color: #454545;
        }
        a{
            display: flex;
            align-items: center;
            color: #454545;
            border: 2px solid #454545;
            gap: 10px;
            padding: 12px 15px;
            border-radius:50px;
            transition: 0.5s;
            &:hover{
                color:#fff;
                background-color:#454545;
                svg{
                    path{
                        stroke: #fff !important;
                    }
                }
            }
        }
    }
    .about-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        .about-card{
            border:1px solid #c1c1c175;
            padding:30px;
            border-radius: 3px;
            .about-img{
                position:relative;
                width:100px;
                height:100px;
                border-radius:5px;
                background-color: #454545;
                img{
                    padding:10px;
                }
                margin-bottom: 60px;
            }
            .about-subtitle{
                h1{
                    color: #454545;
                    margin-bottom: 20px;
                }
                p{
                    color:gray;
                }
            }
        }
    }
}